*{
    margin: 0;
    padding: 0;
    

}

.card {
    width: 230px;
    height: 160px;
    border: 1px solid #388050;
    border-radius: 6px;
    margin: auto; 
    position: relative;

    
}
.card img {
    position: absolute;
    bottom: 48px;
    left: 11px;
    width: 208px;
    height: 205px;
}
.card button {
    position: absolute;
    bottom: -29px;
    left: 31px;
    width: 155px;
    height: 48px;
    color: #fff;
    background-color: #388050 ;
    font-size: 23px;
    min-height: 48px;
}