.container {
    width: 230px;
    height: 344px;
    border: 1px solid #d6d4d4;
    margin: auto ;
    border-radius: 7px;
}
.container img {
    width: 230px;
    height: 230px;

}
.container p {
    color: #717171;
    font-size: 16px;
    font-weight: 500px;
    margin: 10px 10px;
}
.container h3 {
    margin-top: 8px;
    color: #353535;
}
.container p, h3 {
    text-align: center;
}
.container:hover {
    box-shadow: 3px 8px 5px rgb(167, 167, 167);
    transition: all 1s ease-in-out;
    border: 1px solid #000;
}
.container .dookmeh {
    display: none;
    width: 150px;
    height: 25px;
    color: #000;
    border: 1px solid #000;
    background: red;
}
.container:hover .dookmeh {
    display: flex;  
    justify-content: space-between;
    align-items: center;       
}
.container:hover img {
    height: 190px;
    transition: all 0.6s ease;

}
/* .dookmeh {
    position: relative;
    
}
.icon-arrow {
    width: 18px;
    height: 18px;
} */






