*{
    margin: 0;
    padding: 0;
    direction: rtl;
} 
 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 90px 8px; 
    z-index: 15;  
    
} 
 .mainNav {
    display: flex;
    white-space: nowrap;
    z-index: 30;  

    
} 
 .mainNav .textLink {
    text-decoration: none;
    color: #717171;
    margin: 0 10px;
    
} 
 .moremenu .arrow {
    margin-right: -18px;
    color: #717171;
    width: 13px;
    height: 13px;
} 
.icons {
    /* margin-left: 80px; */
    display: flex;
}
.icons button {
    margin: 3px;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    position: relative;
}
.icons:last-child .userIcon {
    width: 43px;
}
button img {
    position: absolute;
    left: 6px;
    top: 20px;
}
.userIcon {
    position: relative;
    padding: 4px;
}
.userIcon .user {
    position: absolute;
    right: 3px;
    top: 2px;
    width: 25px;
    height: 20px;

}
.userIcon .arrowIcon {
    position: absolute;
    left: 2px;
    top: 9px;
    width: 14px;
}
.iconSearch {
    padding: 4px;
}
.iconShop{
    padding: 4px;
}

.container ul ul {
    display: none;
} 
.mainNav li:hover .textLink {
    color: #417F56;
    border-bottom: 2px solid #417F56 ;
} 
 .moremenu {
    display: flex;
    position: relative;

} 
.moremenu ul {
    border: 1px solid #eeeeee;
    background-color: #fff;
    border-radius: 6px;
    width: 144px;
    height: 160px;
    margin-top: 50px;
    z-index: 101;
} 
 .moremenu .listmenu1 {
    position: absolute;
    left: 7px;
}
.moremenu .listmenu2 {
    position: absolute;
} 
 .moremenu .textmenu{
    text-decoration: none;
    color: #717171;
    font-size: 15px;
    font-weight: lighter;   
} 

.moremenu li {
    line-height: 2.2rem;
    border-bottom: 1px solid #eeeeee;
    margin: 2px 3px;
} 
 .moremenu li:last-child {
    border-bottom: none;
} 
@media (max-width: 1200px) {
    .container {
        width: auto;
    }
}
@media (max-width: 990px) {
    .mainNav li {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .container {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background-color: rgb(187, 223, 187);
        
    

    }
    .mainNav {
        display: flex;
        flex-direction: column;
        padding: 5px;
        font-size: small;
        position: absolute;
        top:10px;
        right:300px;   
        
    }
    .logo img {
      position: absolute;
      top:10px;
      right: 150px;
    }
    .icons button:first-child {
        display: none;

    }
    .hambergerMenu {
        display: block;
    } 
}

